module_2/llm_hosting/models/
*.gguf
module_2/llm_hosting/models/
*.gguf
.DS_Store
*/.DS_Store
*.zip
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/
module_4/docs/_build/doctrees/
.env
.env.*
*.env
.coverage.*
coverage.xml
